@import "tailwindcss";
@import "vazirmatn/Vazirmatn-font-face.css";

/* حذف فلش‌های type="number" در Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* حذف فلش‌ها در Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Vazirmatn", sans-serif;
}
